* {
  margin: 0;
}

.slide {
  height: 100vh;
  width: 100vw;
}

.slide-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: aqua;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.slide-2 {
  background-color: rebeccapurple;
  display: none;
}

.slide-3 {
  display: none;
  background-color: saddlebrown;
}

.none {
  display: none;
}

.block {
  display: block;
}

i {
  cursor: pointer;
  -webkit-animation: bounce 0.8s infinite alternate;
          animation: bounce 0.8s infinite alternate;
}

.right {
  position: absolute;
  right: 1em;
  top: 50vh;
}

.left {
  position: absolute;
  left: 1em;
  top: 50vh;
}

i:hover {
  color: darkorange;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-0.5em);
            transform: translateX(-0.5em);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-0.5em);
            transform: translateX(-0.5em);
  }
}
