/* - - - - KEYFRAMES - - - - */

@keyframes jump {
    from { transform: translate3d(0, 0, 0) } 
    to   { transform: translate3d(0, 50px, 0); }
}

@keyframes bounce {
    from {
      transform: translateX(-0.5em);
    }
    to {
      transform: translateX(0px);
    }
  }


@keyframes fadein {
    from { 
        opacity: 0;
     }
    to   { 
        opacity: 1; 
    }
}

@keyframes fadein2 {
        from { 
            opacity: 0.5;
            height: 0; 
    }
        to   {
            opacity: 1;
            height: 100vh; 
    }
}

@keyframes fadein3 {
        from { 
            opacity: 0.5;
            width: 0; 
    }
        to   { 
            opacity: 1;
            width: 100vw; 
    }
}

@keyframes dropin {
    from {
        transform: translateY(-15em);
        font-size: 0;
      }
      to {
        transform: translateX(0px);
        font-size: 3em;
      }
}

@keyframes blink {
    0%   {color:red;}
    100% {color:black;}
}

@keyframes colorChange {
    0%   {color:$primary-color;}
    25%  {color:$secondary-color;}
    50%  {color:$tertiary-color;}
    75%  {color:$quaternary-color;}
    100% {color:$quinary-color;}
}

@keyframes textFadeIn {
    0%   {opacity: 0;}
    25%  {opacity: 0;}
    50%  {opacity: 0;}
    75%  {opacity: 0.5;}
    100% {opacity: 1;}
}