@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
/* - - - - VARIABLES - - - - */

/* COLORS */
$primary-color: rgb(230, 183, 183); 
$secondary-color: rgb(187, 159, 193);
$tertiary-color:rgb(228, 190, 119);
$quaternary-color:rgb(235, 101, 86);
$quinary-color: #FFFFFF;
$transparent: rgba(255, 255, 255, 0.8);

/* FONTS */

/* Font family */
$font-main: 'Didact Gothic', sans-serif;
$font-second:  'Poiret One', cursive;
$font-third: 'Didact Gothic', sans-serif;


/* Shadow */
$shadow: 2px 2px $quaternary-color;