@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

/* - - - - VARIABLES - - - - */

/* COLORS */
$primary-color: rgb(230, 183, 183); 
$secondary-color: rgb(215, 215, 220);
$tertiary-color:rgb(228, 190, 119);
$quaternary-color:rgba(242, 83, 55, 0.646);
$quinary-color :rgba(136, 134, 133, 0.646) ;
$transparent: rgba(255,255,255, 0.2);

/* FONTS */

/* Font family */
$font-main: 'Didact Gothic', sans-serif;
$font-second:  'Poiret One', cursive;
$font-third: 'Amatic SC', cursive;


/* Shadow */
$shadow: 2px 2px $quinary-color;
$shadow2: 2px 2px rgba(41, 41, 41, 0.7);