@import "normalize";
@import "variables";

.slide {
    height: 100vh;
    width: 100vw; 
}

.slide-1 {
    display: flex;
    background-color: $tertiary-color;
    // background-color: rgba($color: #000000, $alpha: 0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    
    animation: fadein2 2s forwards;
    z-index: 10;
}

.h2:hover {
    cursor: pointer;
    text-shadow: $shadow2;
}

.wat {
    font-size: 4em;
}

#f1 {
    animation: textFadeIn 1s;
}

#f2 {
    animation: textFadeIn 1.5s;
}

#f3 {
    animation: textFadeIn 2s;
}

#f4 {
    animation: textFadeIn 2.5s;
}

#f5 {
    animation: textFadeIn 3s;
}

#f6 {
    animation: textFadeIn 3.5s;
}
.slide-2 {
    background-color: $primary-color;
    display: none;
    animation: fadein3 2s;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.slide-2-2 {
    display: none;
    background-color: $quaternary-color;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide22list {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-between;
    font-family: $font-main;
    font-size: 1.5em;
    position: relative;
    top: 3em;
}

.slide-2-3 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide-2-4 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide-3 {
    display: none;
    background-color: $primary-color;
    animation: fadein2 2s;
    justify-content: center;
    flex-direction: column;
}

.slide-3 h2, h3 {
    text-align: center;
}

audio {
    position: fixed;
    right: 1em;
    margin: 1em;
    z-index: 10;
}

.flex-row {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: $font-second;
    font-weight: bolder;
    font-size: 1.3em;
    position: fixed;
    top: 58vh;
}

.blinking {
    animation: blink 0.8s infinite alternate;
    position: fixed;
    top: 65vh;
}

.none {
    display: none;
}

.block {
    display: flex;
}


i {
    cursor: pointer;
    text-shadow: $shadow;
    color: white;
}

.right {
    position: absolute;
    right: 1em;
    top: 50vh;
    animation: bounce 0.8s infinite alternate;
}

.left {
    position: absolute;
    left: 1em;
    top: 50vh;
}

i:hover {
    text-shadow: $shadow2;
}

h2 {
    animation: fadein 3s;
    font-family: $font-main;
    margin: 0;
}

.slide-3 h2 {
    animation: fadein 5s;
    font-size: 4em;
    margin-top: 1em;
    font-family: $font-main;
    color: white;
    margin: 0;
}

p {
    font-family: $font-main;
}


.wat h3 {
    cursor: pointer;
    
}

.flexInfo h3 {
    font-size: 4em;
}

h3 {
    font-family: $font-main;
}


.span1 {
    display: block;
    text-align: center;
    font-size: 8em;
    font-family: $font-second;
    text-shadow: $shadow;
}

.span1:hover {
    text-shadow: $shadow2;
}

.span2 {
    animation: textFadeIn 0.5s;
}

.span3 {
    animation: textFadeIn 1s;
}

.span4 {
    animation: textFadeIn 1.5s;
}

.span5 {
    animation: textFadeIn 2s;
}

.span6 {
    animation: textFadeIn 2.5s;
}

.span7 {
    animation: textFadeIn 3s;
}

.span8 {
    animation: textFadeIn 3.5s;
}

.span9 {
    animation: textFadeIn 4s;
}

.span10 {
    animation: textFadeIn 4.5s;
}

.slide2H2 {
    animation: dropin 2s;
    color: white;
    font-size: 3em;
    margin-bottom: 1em;
    position: fixed;
}

.colorChange {
    animation: colorChange 10s infinite alternate;
}


.wat:hover {
    cursor: pointer;
    text-shadow: $shadow2
}



.flexInfo {
    animation: textFadeIn 0.5s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $font-main;
    font-size: 1.5em;
}

li {
    padding-bottom: 1em;
}

.press {
    display: flex;
    width: 60%;
    align-items: baseline;
    animation: textFadeIn 5s;
    margin-top: 1em;
}

.press p {
    font-family: $font-third;
    color: black;
    font-size: 2em;
}

.press img {
    width: 3em;
    margin: 0.5em;
}

#flexDemo {
    width: 80%;
    height: auto;
    display: flex;
    margin: 5em auto;
    border: 1px solid black;
    background-color: $transparent;
}

.flexName {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 1.5em;
    font-family: $font-main;
    cursor: pointer;
}

.flexStart {
    justify-content: flex-start;
}

.flexEnd {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}

.spaceEvenly {
    justify-content: space-evenly;
}

#flexDemo div {
    width: 4em;
    height: 4em;
}

.active {
    color: $quaternary-color;
}

#f1 {
    background-color: seagreen;
}

#f2 {
    background-color: skyblue;
}

#f3 {
    background-color: salmon;
}

#f4 {
    background-color: tan;
}

#f5 {
    background-color: mediumaquamarine;
}

#f6 {
    background-color: khaki;
}

.hideArrow {
    display: none;
}

@keyframes bounce {
    from {
      transform: translateX(-0.5em);
    }
    to {
      transform: translateX(0px);
    }
  }


@keyframes fadein {
    from { 
        opacity: 0;
     }
    to   { 
        opacity: 1; 
    }
}

@keyframes fadein2 {
        from { 
            opacity: 0.5;
            height: 0; 
    }
        to   {
            opacity: 1;
            height: 100vh; 
    }
}

@keyframes fadein3 {
        from { 
            opacity: 0.5;
            width: 0; 
    }
        to   { 
            opacity: 1;
            width: 100vw; 
    }
}

@keyframes dropin {
    from {
        transform: translateY(-15em);
        font-size: 0;
      }
      to {
        transform: translateX(0px);
        font-size: 3em;
      }
}

@keyframes blink {
    0%   {color:red;}
    100% {color:black;}
}

@keyframes colorChange {
    0%   {color:$primary-color;}
    25%  {color:$secondary-color;}
    50%  {color:$tertiary-color;}
    75%  {color:$quaternary-color;}
    100% {color:$quinary-color;}
}

@keyframes textFadeIn {
    0%   {opacity: 0;}
    25%  {opacity: 0;}
    50%  {opacity: 0;}
    75%  {opacity: 0.5;}
    100% {opacity: 1;}
}