@import "normalize.scss";

.slide {
    height: 100vh;
    width: 100vw;
}

.slide-1 {
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide-2 {
    background-color: rebeccapurple;
    display: none;
}

.slide-3 {
    display: none;
    background-color: saddlebrown;
}

.none {
    display: none;
}

.block {
    display: block;
}

i {
    cursor: pointer;
    animation: bounce 0.8s infinite alternate;
}

.right {
    position: absolute;
    right: 1em;
    top: 50vh;
}

.left {
    position: absolute;
    left: 1em;
    top: 50vh;
}

i:hover {
    color: darkorange;
}

h2 {
    animation: fadein 5s;
}

h3 {
    cursor: pointer;
}

.colorChange {
    animation: colorChange 10s infinite alternate;
}

@keyframes bounce {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(-0.5em);
    }
  }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes colorChange {
    0%   {color:red;}
    25%  {color:yellow;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}
}