@import "normalize";
@import "variables";

.slide {
    height: 100vh;
    width: 100vw;
    
}

.slide-1 {
    display: flex;
    background-color: $tertiary-color;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadein2 2s;
}

.slide-2 {
    background-color: $secondary-color;
    display: none;
    animation: fadein3 2s;
}

.slide-3 {
    display: none;
    background-color: saddlebrown;
    animation: fadein2 5s;
}

.none {
    display: none;
}

.block {
    display: block;
}

i {
    cursor: pointer;
    
}

.right {
    position: absolute;
    right: 1em;
    top: 50vh;
    animation: bounce 0.8s infinite alternate;
}

.left {
    position: absolute;
    left: 1em;
    top: 50vh;
}

i:hover {
    color: darkorange;
}

h2 {
    animation: fadein 3s;
    font-family: $font-main;
}

h3 {
    cursor: pointer;
    font-family: $font-main;
}

span {
    display: block;
    text-align: center;
    font-size: 10em;
    animation: fadein 10s;
    font-family: $font-second;
}



.colorChange {
    animation: colorChange 10s infinite alternate;
}

@keyframes bounce {
    from {
      transform: translateX(-0.5em);
    }
    to {
      transform: translateX(0px);
    }
  }


@keyframes fadein {
    from { 
        opacity: 0;
     }
    to   { 
        opacity: 1; 
    }
}

@keyframes fadein2 {
        from { 
            opacity: 0.5;
            height: 0; 
    }
        to   {
            opacity: 1;
            height: 100vh; 
    }
}

@keyframes fadein3 {
        from { 
            opacity: 0.5;
            width: 0; 
    }
        to   { 
            opacity: 1;
            width: 100vw; 
    }
}

@keyframes colorChange {
    0%   {color:red;}
    25%  {color:yellow;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}
}