* {
    margin: 0;
}

.slide {
    height: 100vh;
    width: 100vw;
}

.slide-1 {
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-self: center;
}

.slide-2 {
    background-color: rebeccapurple;
    display: none;
}

.slide-3 {
    display: none;
    background-color: saddlebrown;
}

.none {
    display: none;
}

.block {
    display: block;
}



i {
    cursor: pointer;
    
}

.right {
    position: absolute;
    right: 1em;
    top: 50vh;
}

.left {
    position: absolute;
    left: 1em;
    top: 50vh;
}

i:hover {
    color: darkorange;
}
