* {
    margin: 0;
}

.slide {
    height: 100vh;
    width: 100vw;
}

.slide-1 {
    display: block;
    background-color: aqua;
}

.slide-1-2 {
    display: none;
}

.slide-2 {
    display: block;
    background-color: rebeccapurple;
}

.slide-2-2 {
    display: none;
}

.slide-3 {
    display: block;
    background-color: saddlebrown;
}

.slide-3-2 {
    display: none;
}