.slide-1 {
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

.slide-2 {
    height: 100vh;
    width: 100vw;
    background-color: rebeccapurple;
}

.slide-3 {
    height: 100vh;
    width: 100vw;
    background-color: saddlebrown;
}