* {
    margin: 0;
}

.slide {
    height: 100vh;
    width: 100vw;
}

.slide-1 {
    display: block;
    background-color: aqua;
}

.none {
    display: none;
}

.block {
    display: block;
}

.slide-2 {
    display: none;
    background-color: rebeccapurple;
}

.slide-3 {
    display: none;
    background-color: saddlebrown;
}

i {
    cursor: pointer;
}

i:hover {
    color: darkorange;
}
